<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>

        .task-header {
        display: flex;
        align-items: center;
    }

    .state-indicator {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
    }

        .loader {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            animation: spin 2s linear infinite;
            display: none;
            margin: auto;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        
        .htmx-request .loader{
            display: inline-block;
        }

        .htmx-request #button-text{
            display:none;
        }

        /* Styling for when the request is active */
        button.hx-requesting #button-text {
            display: none; /* Hide text */
        }

        button.hx-requesting .loader {
            display: inline-block; /* Show loader */
        }

        // body {
        //     background-color: #f8f0e3; /* Light fleshy color for the background */
        //     font-family: Arial, sans-serif;
        //     margin: 0;
        //     padding: 20px; /* Adds some padding around the content */
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center; /* Centers the form in the middle of the viewport */
        // }
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            height: 100vh;
            overflow: hidden;
        }

        fieldset {
            background-color: white; /* White background for each section */
            border-radius: 8px; /* Rounded corners for the bubble effect */
            padding: 20px 50px 20px 20px; /* Padding inside each bubble */
            margin: 10px; /* Margin between each bubble */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for some depth */
            width: 90%; /* Controls the width of the fieldset, change as needed */
            // max-width: 600px; /* Maximum width to ensure the form doesn't get too wide on larger screens */
        }
        
        /* Enhancing the appearance of legends to integrate well with bubbles */
        legend {
            padding: 0 10px; /* Small padding around text */
            width: auto; /* Auto width to fit content */
            background-color: white; /* White background to blend with the fieldset */
            border-radius: 5px; /* Rounded corners for the legend */
            font-size: 18px; /* Slightly larger font for visibility */
        }
        
        /* Styles for form elements for consistency and aesthetics */
        input[type="text"], input[type="email"], input[type="date"], select, textarea {
            width: 100%; /* Makes form elements take the full width of the fieldset */
            padding: 8px; /* Padding for form elements for better typography */
            margin-top: 5px; /* Margin top for spacing */
            border: 1px solid #ccc; /* Border to enhance form elements */
            border-radius: 4px; /* Rounded corners for form elements */
        }
        
        button {
            padding: 10px 20px;
            background-color: #4CAF50; /* Green background for the button */
            color: white;
            border: none;
            border-radius: 5px; /* Rounded corners for the button */
            cursor: pointer;
            font-size: 16px;
        }
        
        button:hover {
            background-color: #45a049; /* Darker green on hover */
        }

        button[disabled] {
           cursor: not-allowed; /* change cursor to indicate it's not clickable */
           background-color: grey; /* Light gray background */
        }       
        button[disabled]:hover {
           cursor: not-allowed; /* change cursor to indicate it's not clickable */
           background-color: grey; /* Light gray background */
        }  

        .dashboard-container {
            display: flex; /* Set the dashboard container to use flex */
            flex-grow: 1; /* Allow it to take up the remaining height */
            overflow: hidden; /* Handle overflow */
        }

        .left-column {
            flex: 0 0 20%; /* Take up 30% of the horizontal space */
            background: #FFFFFF;
            overflow-y: auto;
            padding: 20px;
        }

        .right-column {
            
    display: flex;
    flex-direction: column;
            flex: 1; /* Fill the remaining space */
            background: #FFFFFF;
            overflow-y: auto;
            padding: 20px;
        }

        
.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 40px); /* Adjust height based on header size */
}

#taskDetails {
    flex: 4; /* 80% of the space */
    padding: 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto; /* Add scrolling if content is too long */
}

#subTask {
    flex: 1; /* 20% of the space */
    padding: 10px;
    overflow-y: auto; /* Add scrolling if content is too long */
}


        .navbar {
            background-color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            height: 50px; /* Adjusted for consistency */
            width: 100%;
        }

        .navbar {
            background-color: #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: center; /* Centers items vertically */
            padding: 0 20px;
            margin-bot: 5px;
            height: 50px; /* Fixed height for the navbar */
            width: 100%; /* Ensures the navbar spans the full width */
        }
        
        .navbar h1 {
            margin: 0;
            font-size: 24px;
        }

        .logout-button {
            background-color: #f44336;
            color: white;
            padding: 8px 36px;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right:50px;
        }

        .logout-button:hover {
            background-color: #d73833;
        }

        .task-table {
            width: 100%; /* Ensures the table uses the full width of its container */
        }
        
        .task-table th, .task-table td {
            padding: 8px; /* Adjust padding as necessary */
        }
        
        .task-table th {
            width: 30%; /* Sets the width of the labels to 30% of the table */
            background: #f0f0f0; /* Optional: sets a background color for headers */
            text-align: left;
        }
        
        .task-table td {
            width: 70%; /* Sets the width of the input fields to 70% of the table */
        }
        

        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background: #f0f0f0;
        }
        form {
            margin-top: 20px;
        }
        button {
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            left: -5%;
        }

        .dropbtn {
            background-color: #FFFFFF;
            color: black;
            padding: 8px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            left: -35px;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }
        .task-card {
            border: 1px solid #ccc;
            padding: 8px;
            margin-bottom: 10px;
            background-color: #f9f9f9;
            cursor: default;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        
        .task-card h3 {
            margin-top: 0;
            color: #333;
            font-size: 16px; /* Optionally adjust the font size */
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; /* Ensures long titles do not break the card layout */
        }
        
        .task-details {
            display: flex;
            justify-content: space-between; /* Aligns ID and State on the same line, spaced apart */
            margin-top: 5px;
        }
        
        .task-id, .task-state {
            flex: 1;
            text-align: left;
            font-size: 14px; /* Smaller font for details */
        }
        
        .task-card:hover {
            background-color: #e9e9e9;
        }
        
        #taskList li {
            cursor: default; /* Ensures the cursor remains the default type */
        }
        #taskList li:hover {
            background-color: #f0f0f0; /* Adds a background color on hover */
        }

        .left-column, .right-column {
            overflow-y: auto; /* Enable vertical scrolling */
            scrollbar-width: none; /* Firefox */
        }

        .left-column::-webkit-scrollbar, .right-column::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Edge */
        }

        .tasks-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;  /* Adds padding on both sides */
            margin-bottom: 10px;  /* Adds space below the header */
        }

        .new-task-button {
            padding: 6px 12px;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .delete-btn {
            float:right;
            position:relative;
            top:-33px;
        }

        .dropbtn:hover {
            background-color:#f1f1f1
        }

    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <h1>Dashboard</h1>
            <div class="dropdown">
                <button class="dropbtn">☰</button> <!-- Using Unicode character for simplicity -->
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <div class="dashboard-container">
    <div class="left-column" >

    <div class="tasks-header">
        <h2>Tasks List</h2>
        <button class="new-task-button" hx-post="/task/new" hx-target="#taskDetails" hx-trigger="click">Create New Task</button>
    </div>
<form hx-get="/task/search" hx-target="#taskList" hx-trigger="input delay:500ms">
    <input type="search" name="searchTerm" placeholder="Search tasks by name..." autocomplete="off">
</form>



<form id="filter" hx-get="/task/showAll" hx-target="#taskList" hx-trigger="change">
    <select name="filter">
        <option value="all" {{if eq .filter "all"}}selected{{end}}>All Tasks</option>
        <option value="my" {{if eq .filter "my"}}selected{{end}}>My Tasks</option>
        {{if eq .userRole "1"}}
            <option value="archived" {{if eq .filter "archived"}}selected{{end}}>Archived Tasks</option>
        {{end}}
    </select>
        <p>Order By:</p>
    <select name="orderBy">
            <option value="updated_at" {{if eq .order "updated_at"}}selected{{end}}>Creation Date</option>
            <option value="created_at" {{if eq .order "created_at"}}selected{{end}}>Modification Date</option>
    </select>

</form>

<div id="taskList">
    <span id="task-list-indicator"></span>
    <div>
        {{ range .tasks }}
        <div class="task-card" 
             hx-get="/task/details/{{ .ID }}" 
             hx-target="#taskDetails" 
             hx-trigger="click" 
            >
            <div class="task-header">
                <span class="state-indicator" style="background-color: {{ if eq .State "Bloqué" }}red{{ else if eq .State "En Cours" }}green{{ else if eq .State "A Faire" }}orange{{ end }};"></span>
                <h3>{{ .Title }}</h3>
            </div>
            <div class="task-details">
                <span class="task-id"><strong>SER - </strong> {{ .ID }}</span>
                <span class="task-state"><strong>State:</strong> {{ .State }}</span> 
            </div>
              {{if eq .Archived "1"}}
                <button class="delete-btn" hx-delete="/task/delete/{{ .ID }}" hx-target="#taskList" hx-confirm="Are you sure you want to delete this task?">
             {{else}}
                <button class="delete-btn" hx-post="/task/archive/{{ .ID }}" hx-target="#taskList" hx-confirm="Are you sure you want to archive this task?">
             {{end}}
                <i class="fas fa-trash"></i>
             
            </button>
        </div>
        {{ end }}
    </div>
</div>


    </div>
<div class="right-column">
    <h2>Task Details</h2>
    <div class="flex-container">
        <div id="taskDetails">
            Click on a task to see the details here.
        </div>
    </div>
</div>
    </div>
</body>


</html>
